language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - build-tools-27.0.2
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository
licenses:
    - 'android-sdk-license-.+'

before_install:
  - yes | sdkmanager "platforms;android-27"
script:
    - ./gradlew clean assemble test
#before_script:
#  - echo no | android create avd --force -n test -t android-26 --abi armeabi-v7a
#  - emulator -avd test -no-skin -no-audio -no-window &
#  - android-wait-for-emulator
#  - adb shell input keyevent 82 &
#script:
#  - if [ "$TRAVIS_PULL_REQUEST" = "true" ]; then
#    ./gradlew connectedAndroidTest;
#    fi